.header-top {
	background-color: rgba(0, 0, 0, .5);
}

.header-top-social, .header-top-sign-in{
	padding: 10px 0;
}

.header-top-social a {
	margin-right: 15px;
	text-decoration: none;
	color: #707070;
	font-size: 20px;
}

.header-top-social a:hover {
	color: #ff4081;
}

.header-top-sign-in {
	color: #707070;
}

.header-top-sign-in:hover {
	cursor: pointer;
	color: #ff4081;
}

.sign-in-icon {
	margin-right: 5px;
	font-size: 20px;
}

.sign-in-title {
	text-transform: uppercase;
	font-size: 12px;
}