.post-page-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #3f51b5;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.post-page-content {
	background-color: #fff;
    border-radius: 5px;
    margin: 0 0 15px 0;
}

.post-page-img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.post-page-img {
	position: relative;
}

.post-page-tag {
	position: absolute;
	z-index: 10;
	color: #fff;
	top: 15px;
	left: 0;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	padding: 5px 50px 5px 15px;
	background: linear-gradient(to left, rgba(255,64,129,0), rgba(255,64,129,.9));
}

.post-page-tag:hover {
	cursor: pointer;
}

.post-page-likes {
	position: absolute;
	z-index: 10;
	color: #fff;
	font-size: 18px;
	top: 15px;
	right: 0;
	background: linear-gradient(to right, rgba(255,64,129,0), rgba(255,64,129,.9)); 
	padding: 5px 15px 5px 50px;
}

.post-page-coment {
	margin-right: 10px;
}

.post-page-coment-icon, .post-page-like-icon {
	padding-right: 5px;
}

.post-page-coment, .post-page-like:hover {
	cursor: pointer;
}

.post-page-like-icon {
	color: #999;
}

.post-page-like:hover .post-page-like-icon{
	color: #fff;
}

.post-page-content-main {
    margin: 0 20px;
}

.post-page-text {
    margin-top: 15px;
    font-size: 16px;
    text-align: justify;
}

.post-page-text:after {
	content: "";
	display: block;
	background-color: #dddddd;
	height: 1px;
	margin: 15px -20px 0 -20px;
}