.content-grid {
	margin-bottom: 20px;
}

.content-grid-post {
	background-color: #fff;
    border-radius: 5px;
    margin: 0 0 15px 0;
}

.content-grid-post:hover {
	box-shadow: 0px 0px 5px 5px #909090;
}

.item-margin {
	margin: 0 -8px;
}

.item-padding {
	padding: 0 8px;
}

.post-content {
	margin: 0 20px;
}

.post-img img {
	width: 100%;
}

.post-img-top img {
	border-radius: 5px 5px 0 0;
}

.post-img-left img {
	border-radius: 5px 0 0 5px;
}

.post-img {
	position: relative;
}

.post-tag {
	position: absolute;
	z-index: 10;
	color: #fff;
	bottom: 15px;
	left: 0;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	padding: 5px 50px 5px 15px;
	background: linear-gradient(to left, rgba(255,64,129,0), rgba(255,64,129,.9));
}

.post-tag:hover {
	cursor: pointer;
}

.post-likes {
	position: absolute;
	z-index: 10;
	color: #fff;
	font-size: 12px;
	bottom: 15px;
	right: 0;
	background: linear-gradient(to right, rgba(255,64,129,0), rgba(255,64,129,.9)); 
	padding: 5px 15px 5px 50px;
}

.post-coment {
	margin-right: 10px;
}

.post-coment-icon, .post-like-icon {
	padding-right: 5px;
}

.post-coment, .post-like:hover {
	cursor: pointer;
}

.post-like-icon {
	color: #999;
}

.post-like:hover .post-like-icon{
	color: #fff;
}

.post-title {
	margin: 15px 0;
}

.post-title a {
	color: #212121;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	transition-duration: .3s;
}

.post-title-small {
	font-size: 16px;
}

.post-title a:hover {
	color: #3f51b5;
}

.post-text {
	font-size: 14px;
	color: #595959;
	text-align: justify;
}

.post-text:after {
	content: "";
	display: block;
	background-color: #dddddd;
	height: 1px;
	margin: 15px -20px 0 -20px;
}

.post-info {
	padding: 15px 0;
}

.post-author-foto img {
	margin-right: 15px;
	border-radius: 50%;
}

.post-author-name {
	color: #212121;
	font-size: 14px;
	font-weight: 400;
	margin: 5px 0 10px 0;
}

.post-date {
	color: #d3d3d3;
	font-size: 12px;
}

.post-set {
	font-size: 20px;
}

.post-set:hover {
	cursor: pointer;
	color: #3f51b5;
}