.header-nav {
	padding: 30px 0;
}

.logo a {
	font-size: 48px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
}

.logo span {
	color: #3f51b5;
}

.main-menu-item a {
	display: block;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.main-menu-item a:after {
    background-color: #ff4081;
    margin-top: 5px;
    content: "";
    height: 2px;
    width: 0%;
    display: block;
    transition: width .3s ease-in-out;
}

.main-menu-item a:hover:after, .main-menu-item a:focus:after{
	width: 100%;
}

.main-menu-item a:hover {
	color: #fff;
}

.header-search {
	position: relative;
	display: block;
	height: 30px;
	border: 1px solid #707070;
}

.header-search-plholder {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding: 5px 10px 0 10px;
	width: 80%;
	font-weight: 300;
	color: #ff4081;
	border: none;
	outline: none;
	background-color: transparent;
}

.header-search-plholder::placeholder {
	color: #707070;
}

.header-search-btn {
	position: absolute;
	top: 4px;
	right: 4px;
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(search.png);
	background-color: #707070;
	background-repeat: no-repeat;
	background-position: center;
    outline: none;
    border:none;
}

.header-search-btn:hover {
	cursor: pointer;
	background-color: #ff4081;
}