.main-bottom {
	margin: 30px 0 0 0;
}

.main-more-btn {
	color: #3f51b5;
	font-size: 20px;
}

.main-more-btn a {
	color: #3f51b5;
}

.more-btn-title {
	font-weight: 600;
	padding-right: 15px;
}

.more-btn-arrow .fa-arrow-right {
	background-color: #fff;
	padding: 10px;
    border-radius: 50%;
    margin-right: 15px;
}

.more-btn-arrow .fa-arrow-right:hover {
	cursor: pointer;
	box-shadow: 0px 0px 3px 3px #909090;
}